<div ng-if="$ctrl.authenticated" class='container'>
    <h1 class="center-align title">MY MOVIE SHELF</h1>
    <div class="row">
      <div class="col s2"></div>
      <search result="$ctrl.searchResults" get-details="$ctrl.getDetailsFromIDs" class="left col s8"></search>
      <button href="/auth/logout" type="button" class="right btn blue z-depth-2 col s2">Logout</button>
      <button type="button" class="right btn blue z-depth-2 col s2" ng-click="$ctrl.toggleTopMovies()">Top Movies</button>
      <button type="button" class="right btn blue z-depth-2 col s2" ng-click="$ctrl.handleNewUpcoming()">New Movies</button>
    </div>
    <div class="row">
        <div class="col s7">
            <top-movies
              ng-if="$ctrl.showTopMovies"
              userid="$ctrl.user"
              pushit="$ctrl.pushit"
            ></top-movies>
            <movie-list
              ng-if="$ctrl.viewSearched"
              movies-db="$ctrl.moviesDB"
              userid="$ctrl.user"
              pushit="$ctrl.pushit"
            ></movie-list>
            <now-upcoming
              ng-if="$ctrl.viewNewMovies"
              userid="$ctrl.user"
              pushit="$ctrl.pushit"
              now-playing="$ctrl.nowPlaying"
              upcoming="$ctrl.upcoming"
            ></now-upcoming>
        </div>
        <div class="col s5">
            <shelf
              userid="$ctrl.user"
              my-movies="$ctrl.shelf"
              spliceit="$ctrl.spliceit"
            ></shelf>
        </div>
    </div>
</div>
<div ng-if="!$ctrl.authenticated">
    <login 
        authenticated = "$ctrl.authenticated"
        change-auth = "$ctrl.changeAuth"
    ></login>
</div>
