<div ng-if="$ctrl.authenticated" class='container'>
    <h1 class="left-align">My Movie Shelf</h1>
    <search result="$ctrl.searchResults" get-details="$ctrl.getDetailsFromIDs"></search>
    <div class="row">
        <div class="col s7">
            <!-- search results list goes here -->
            <movie-list
                movies="$ctrl.movies" movies-db="$ctrl.moviesDB"
                pushit="$ctrl.pushit"
            ></movie-list>
        </div>
        <div class="col s5">
            <shelf
                my-movies="$ctrl.shelf"
                spliceit="$ctrl.spliceit"
            ></shelf>
        </div>
    </div>
</div>
<div ng-if="!$ctrl.authenticated">
    <login></login>
</div>