<li class="video-list-entry media">
  <h4>{{$ctrl.movie.title}}</h4>
  <div class="media-left">
    <img class="media-object" width='200' height='300' ng-src="{{$ctrl.movie.posterUrl}}" />
  </div>
  <div class="media-body">
    <div><b>{{$ctrl.movie.director[0].name}}</b></div>
    <div>{{$ctrl.movie.releaseDate.slice(0,4)}}</div>
    <div>{{'"' + $ctrl.movie.overview + '"'}}</div>
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
    <button ng-href="{{$ctrl.movie.previewUrl}}" target="_blank" class="btn blue waves-effect waves-light z-depth-2" role="button">Trailer</button>
    <button type="button" class="btn blue waves-effect waves-light z-depth-2" ng-click="$ctrl.sendMovie($ctrl.movie)">Add to my shelf</button>
  </div>  
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
</li>
