<div class="search-bar form-inline">
    <div class="row">
        <form class="left-align col s12">
            <div class="row">
                <div class="input-field col s9">
                    <input ng-model='search' id="search" type="text" class="validate">
                    <label for="search">Search</label>
                </div>
                <div class="input-field col s3">
                    <button ng-click='$ctrl.onClick(search)' class="z-depth-1 btn blue waves-effect waves-light">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
